<div class="row m-2">
<div class="col">
  <div class="card text-center studies" onclick="redirect('studies')">
    <div class="card-body">
      <h5 class="card-title">Studies</h5>
      <p class="card-text">Study: <%= Study.count %></p>
    </div>
  </div>
</div>
<div class="col">
  <div class="card text-center sites" onclick="redirect('sites')">
    <div class="card-body">
      <h5 class="card-title">Sites</h5>
      <p class="card-text">Site: <%= Site.count %></p>
    </div>
  </div>
</div>
</div>
